name: CD
on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    name: Deploy to Temporary Dev Server
    runs-on: ubuntu-latest
    environment: temp-dev
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Set up Java 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Overwrite Application Configuration
        run: |
          cat <<'EOF' > ./src/main/resources/application.yaml
          ${{ secrets.DEPLOY_YAML }}
          EOF
        shell: bash
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build with Gradle
        run: ./gradlew --build-cache clean build --no-daemon
      - name: Deploy to Dev Server
        uses: 8G4B/GSM-SV-Deploy@v1.2.1
        with:
          host: ${{ secrets.SERVER_HOST }}
          target_path: /root/Gikipedia-server-V1
          user: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
      - name: CD Success Notification
        uses: sarisia/actions-status-discord@v1
        if: success()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          color: 0x4CAF50
      - name: CD Failure Notification
        uses: sarisia/actions-status-discord@v1
        if: failure()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          color: 0xFF4C4C
